<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}SafeSpace{% endblock %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <!-- Navigation Bar -->
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'quest_list_manual' %}">Quests</a>
        <a href="{% url 'reward_list' %}">Rewards</a>
    </nav>

    <hr>

    <main>
        {% block content %}
            <p class="text-muted">This is default content.</p>
        {% endblock %}
    </main>

</body>
</html>