{% extends "core/base.html" %}

{% block title %}
    Users
{% endblock %}

{% block content %}

<h1>Users</h1>


<!-- ============================== -->
<!-- POST SEARCH -->
<!-- ============================== -->

<h2>Search Users</h2>

<form method="post">

    {% csrf_token %}

    <label for="user-search">
        Search by username:
    </label>

    <input
        type="text"
        id="user-search"
        name="q"
        value="{{ query }}"
        placeholder="e.g. alice"
    >

    <button type="submit">
        Search
    </button>

</form>


<!-- ============================== -->
<!-- USER SEARCH RESULTS -->
<!-- ============================== -->

<h2>User List</h2>

<ul>

    {% for user in users %}

        <li>
            {{ user.username }}
        </li>

    {% empty %}

        <li>
            No users found.
        </li>

    {% endfor %}

</ul>




{% endblock %}